div#internal-front-page table
{
  position:relative;
  border-spacing:5px;
  left:-5px;
}

div#internal-front-page td
{
  border:1px solid #c0c0c0;
}

div#internal-front-page td#add-info-box
{
  background-color:#333333;
  color: #ffffff;
  width:50%;
}

div#internal-front-page td#edit-info-box
{
  background-color:#111111;
  color: #ffffff;
  width:50%;
}

div#internal-front-page td#attic-box
{
  background-color:#f3f3f3;
}

div#internal-front-page a
{
  text-decoration:none;
}

div#internal-front-page a.primary-action
{
  text-decoration: underline;
}

