<p>
<a href="project/phantomnet" class="news">
Flux kicks off PhantomNet project: an end-to-end programmable mobile network testbed with LTE</a>
</p>

<p>
<a href="profile/kobus" class="news">
Kobus Van der Merwe joins Flux as co-Director and 
Jay Lepreau Professor of Computer Science
</a>
</p>
