div#profile-page
{
    height: auto;
    overflow: hidden;
}

div#profile-page p#position
{
  margin: 0px;
  padding: 0px;
}

div#profile-page p#areas
{
  margin-top: 5px;
  padding-top: 5px;
}

div#profile-page div#leftside
{
    width: auto;
    overflow: hidden;
    float: none;
}

div#profile-page div#leftside div#person-section
{
  padding:15px;
}

div#profile-page div#leftside div#publication-section
{
  border:0px;
  padding:15px;
}

div#profile-page div#picture-cell
{
  padding:0px;
  width:250px;
  height:250px;
  margin-right:15px;
  margin-bottom:15px;
  float: left;
}

div#profile-page div#metadata {
    margin-left: 270px;
    color: #cccccc;
}

div#profile-page div#picture-cell img {
    width: 100%;
}

div#profile-page p#email
{
  margin: 0px;
  padding: 0px;
}

div#profile-page p#www
{
  margin: 0px;
  padding: 0px;
}

div#profile-page p#office
{
  margin-top: 0px;
  padding-top: 0px;
}

div#profile-page div#publication-section span.thisauthor
{
  color: #000000;
  text-decoration: none;
}

div#profile-page div#projects-section
{
    float: right;
    margin-left: 10px;
    padding-right: 15px;
}

div#profile-page div#projects-section div.project-profile
{
    width: 150px;
    text-align:center;
    margin-left: 0px;
    margin-right: 0px;
}

div#profile-page div#projects-section div.project-profile a
{
}

div#profile-page div#projects-section div.project-profile img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

div#profile-page table.persondetails {
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    border: 0px;
    border-spacing: 2px;
}

div#profile-page table.persondetails td {
    margin: 0px;
    padding: 0px;
}
